.footer-area {
	padding-top: 55px;
	background: #000;
	height: 350px;
}

.footer-logo img {
	width: 160px;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.footer-option a {
	font-size: 14px;
	color: #c7c7c7;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 31px;
}

.footer-bottom {
	margin-top: 10%;
}

.footer-bottom p {
	color: #a0a0a0;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
}

.footer-bottom p > a {
	color: #a0a0a0;
}

.our-links {
	margin-left: auto;
	width: 300px;
	display: flex;
	justify-content: space-between;
}

.our-links a {
	color: #c7c7c7;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
}

.our-links a:hover {
	color: #ffff;
}

.footer-option a:hover {
	color: #ffff;
}
